.cards__section {
}

.cards__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  margin: 40px 0 34px 0;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 323px);
  gap: 20px 20px;
  margin: 0;
  padding: 0;
}
