.profile {
  /*TODO: See if this fits Figma specs. Works visually but may need to refine this height solution.*/
  /* height: 80%; */
  display: grid;
  grid-template-columns: max-content 3fr;
  column-gap: 116px;
  margin: 0;
  padding: 0;
}

.profile__sidebar {
}

.profile__clothing-items {
}
